.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;

    @media screen and (min-width:1200px){
        flex-direction: row;
        flex-wrap: wrap;        
    }

    .inputContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        width: 100%;
        max-width: 600px;
        height: 4rem;
        padding: 0 15px;
        .field {
            text-align: center;
            height: 3rem;
            width: 100%;
            padding: 5px 15px;
            border-radius: 25px;
            background-color: #ffffff;
            
        }
        
        p {
            color: red;
        }
    }
}
